button,
.sw-button,
input[type="submit"] {
    display: inline-flex;
    padding: 11px 20px;
    border: 1px solid $brand-orange;
    border-radius: 8px;
    color: $white;
    background-color: $brand-orange;
    font-weight: $bold;
    line-height: normal;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    transition: $transition;
    align-items: center;

    @include above($desktop) {
        padding: 12px 26px;
        border-radius: 10px;
    }

    &:hover {
        border-color: $brand-dark-orange;
        background: $brand-dark-orange;

        .sw-arrow {
            transform: translateX(10px);
        }
    }
}

.sw-button,
input[type="submit"].sw-button {
    &--large {
        padding: 12px 35px;
        font-size: 18px;
    }

    &--transparent {
        color: $brand-orange;
        background: transparent;

        &:hover {
            border-color: $brand-orange;
            color: $white;
            background: $brand-orange;
        }
    }

    &--no-style {
        border: none;
        background: none;

        &:hover {
            border: none;
            background: none;
        }
    }

    &--text-centered {
        justify-content: center;
    }
}

.sw-arrow {
    height: 1em;
    fill: $brand-orange;
    margin-left: 1em;
    line-height: inherit;
    vertical-align: middle;
    transition: $transition;

    &--large {
        height: 1em;
        fill: $white;
        margin-left: 0.9em;
        line-height: inherit;
    }

    &--black {
        fill: $brand-black;
    }

    &__wrapper {
        display: inline-flex;
        line-height: inherit;
        transition: $transition;
        align-items: center;
    }
}
