form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input:not([type="submit"]):not([type="file"]):not([type="button"]),
textarea,
.sw-input {
    width: 100%;
    max-width: 500px;
    // margin-bottom: 20px;
    padding: 9px 15px;
    border: solid 2px $brand-light-grey;
    border-radius: 4px;
    font-size: 16px;

    @include below ($desktop) {
        min-width: auto;
        margin: 0 0 20px 0;
    }

    &:placeholder {
        color: $brand-grey-placeholder;
    }
}

// input[type="textarea"] {
//     height: 4em;
// }

input[type="submit"],
input[type="button"] {
    min-width: 168px;
    margin-top: 20px;
    font-size: 16px;
    line-height: normal;
    cursor: pointer;

    &.nf-element {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 9.5px 26px;
    }
}

// Ninja form styles
.nf-form-fields-required {
    display: none;
}

.nf-form-layout {
    > form > div {
        width: 100%;
        max-width: 500px;
    }
}

.nf-response-msg {
    max-width: 500px;
    margin: 0 auto;
}
