html,
body {
    height: 100%;
}

.site {
    margin: 0 auto;
}

.site-header {
    @include above($desktop) {
        position: fixed;
    }
}

.site-main {
    @include above($desktop) {
        margin-left: 280px;
    }
}

.site-footer {
    @include above($desktop) {
        margin-left: 280px;
    }
}

.sw-section {
    margin-right: 25px;
    margin-left: 25px;

    @include above($desktop) {
        margin-right: 60px;
        margin-left: 50px;
    }

    &--zero-margin {
        @include below($desktop) {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.sw-container {
    max-width: $container;
    margin-right: auto;
    margin-left: auto;

    &--small {
        max-width: $container-small;
    }

    &--border-bottom {
        padding-bottom: 50px;
        border-bottom: $border;

        @include above($desktop) {
            padding-bottom: 80px;
        }
    }
}

.entry-content,
.sw-row {
    @include below($desktop) {
        img,
        .sw-row__image,
        .post-image {
            margin-right: -10px;
            margin-left: -10px;
        }
    }
}

.margin-top-large {
    margin-top: 80px;
}

.margin-bottom-large {
    margin-bottom: 80px;
}
