.site-header {
    position: relative;
}

.menu-toggled {
    overflow-y: scroll;

    &--body {
        overflow: hidden;
        position: relative;
    }
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 20px;
    border: none;
    background: transparent;

    &:hover {
        border: none;
        background: transparent;
    }

    @include above($desktop) {
        display: none;
    }

    &__icon {
        fill: $brand-grey-2;
    }
}

.hamburger-close {
    &__icon {
        width: 20px;
        height: 20px;
        fill: $brand-grey-2;
    }
}

.hamburger-menu {
    @include below($desktop) {
        position: absolute;
        z-index: 2;
        top: 0;
        right: -90vw;
        width: 90vw;
        height: 100vh;
        padding-top: 30px;
        background-color: rgba(255, 255, 255, 0.98);
        transition: $transition;
    }

    .toggled & {
        transform: translateX(-90vw);
    }

    &__inner {
        @include below($desktop) {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 50vw;
            justify-content: center;
            transform: translateX(50%);
        }
    }

    &__logo {
        width: 120px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;

        @include above($desktop) {
            display: none;
        }
    }
}

.post-navigation,
.posts-navigation {
    @extend .sw-section;

    .nav-links {
        display: flex;
        width: 100%;
        padding: 16px 0;
        border-top: 1px solid $brand-light-grey;
        border-bottom: 1px solid $brand-light-grey;
        // justify-content: space-between;
    }

    .nav-previous,
    .nav-next {
        &:hover {
            a {
                text-shadow: 0 0 0.5px $brand-grey-2, 0 0 0.5px $brand-grey-2;
            }
        }

        a {
            display: inline-flex;
            color: $brand-grey-2;
            align-items: center;
            transition: $transition;
        }

        svg {
            fill: $brand-grey-2;
            width: 14px;
            height: 14px;
        }
    }

    .nav-previous svg {
        margin-right: 12px;
        transform: scaleX(-1);
    }

    .nav-next {
        margin-left: auto;

        svg {
            margin-left: 12px;
        }
    }
}
