/* Blog Single */

.blog-header {
    &__container {
        max-width: 700px;
        margin-top: 50px;
        margin-bottom: 35px;

        @include above($desktop) {
            max-width: 100%;
            margin-top: 100px;
            margin-bottom: 80px;
        }
    }

    &__eyebrow {
        margin-bottom: 50px;

        @include above($desktop) {
            margin-bottom: 80px;
        }
    }

    &__main {
        @include above($desktop) {
            display: grid;
            grid-template-columns: 53% 47%;
        }
    }

    &__image {
        margin-bottom: 35px;

        @include above($desktop) {
            height: 373px;
            margin-bottom: 0;
            align-self: center;
        }

        img {
            width: 100%;
            height: 373px;
            border-radius: 20px;
            object-fit: cover;

            @include above($desktop) {
            }
        }
    }

    &__content {
        @include above($desktop) {
            display: flex;
            flex-direction: column;
            padding-top: 35px;
            padding-bottom: 20px;
            padding-left: 60px;
            flex: 1;
        }
    }

    &__category {
        @extend .font-bold-md;
        @extend .uppercase-title;

        margin: 0 0 22px;
        color: $brand-grey-2;
    }

    &__title {
        @include above($desktop) {
            flex: 1;
            margin: 0 0 25px;
        }
    }
}

.social-share {
    display: flex;

    &__icon {
        display: flex;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
        opacity: 0.6;
        background: $brand-grey-2;
        justify-content: center;
        align-items: center;
        transition: $transition;

        &:hover {
            opacity: 1;
        }

        svg {
            height: 15px;
            fill: $white;
        }
    }
}

.blog-cta {
    display: flex;
    margin-top: 63px;
    margin-bottom: 80px;
    padding: 28px 35px;
    border-radius: 10px;
    background: $brand-black;
    align-items: center;

    @include below($mobile-landscape) {
        flex-direction: column;
    }

    &__text {
        @extend .font-bold-xl;
        margin: 0;
        padding-right: 47px;
        color: $white;

        @include below($mobile-landscape) {
            margin-bottom: 20px;
            padding-right: 0;
        }
    }

    &__button {
        display: block;
        white-space: nowrap;
    }
}

/* Blog Archive */

.blog-archive {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
    margin-bottom: 80px;

    @include below(1200px) {
        grid-template-columns: repeat(2, 1fr);

    }

    @include below($mobile-landscape) {
        grid-template-columns: 1fr;

    }

    &__item {
        @include below($desktop) {
            display: flex;
            flex-direction: column;
        }

        &:hover {
            .blog-archive__read-more {
                @include above ($desktop) {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .blog-archive__title {
                text-decoration-color: $brand-black;
            }
        }
    }

    &__image {
        img {
            height: 220px;
            object-fit: cover;
        }
    }

    &__title {
        margin: 20px 0 10px;
        color: $brand-black;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: $transition;

        @include below($desktop) {
            flex: 1;
        }
    }

    &__read-more {
        margin: 0;

        @include above ($desktop) {
            opacity: 0;
            transition: $transition;
            transform: translateY(1em);
        }

        &:hover {
            .sw-arrow {
                transform: translateX(5px);
            }
        }
    }
}
