.sw-row {
    margin-bottom: 40px;

    @include above($tablet-landscape) {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
    }

    &__image {
        margin-bottom: 25px;
        text-align: center;

        @include above($tablet-landscape) {
            margin: 0;
        }

        img {
            width: 100%;
            max-width: 500px;
            height: 220px;
            margin: 0 auto;
            border-radius: 20px;
            object-fit: cover;

            @include above($tablet-landscape) {
                width: 380px;
                height: 540px;
            }
        }
    }

    &__content {
        @include above($tablet-landscape) {
            margin-right: 40px;
            margin-left: 90px;
        }
    }

    &:nth-child(even) {
        .sw-row__image {
            order: 2;
        }

        .sw-row__content {
            @include above($tablet-landscape) {
                margin-right: 90px;
                margin-left: 40px;
            }
        }
    }

}
