#an-item-wrap {
    display: grid;
    column-gap: 30px;
    row-gap: 45px;
    overflow: visible !important;
    max-width: 100% !important;
    margin-bottom: 40px;
    justify-items: center;

    @include above($mobile-landscape) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include above($tablet-landscape) {
        grid-template-columns: repeat(4, 1fr);
    }

    .an-item {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        max-width: 240px !important;
        padding: 0 !important;

        > .an-wrap {
            order: 1;
        }

        &:hover {
            .an-title a {
                text-decoration-color: $brand-black;
            }

            .an-view > a {
                color: $brand-dark-orange;

                .sw-arrow {
                    transform: translateX(10px);
                    fill: $brand-dark-orange;
                }
            }
        }
    }

    .an-image,
    .image-container,
    .image-container > a {
        width: 100% !important;
        height: auto !important;
        margin: 0 !important;
    }

    .item {
        margin: 0;
        padding: 0;
        list-style: none;

        > * {
            padding: 0;
        }
    }

    .an-image {
        margin-bottom: 25px !important;

        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    }

    .an-title > a {
        margin-bottom: 8px;
        color: $brand-black;
        line-height: 1.3;
        text-decoration: underline;
        transition: $transition;
        text-decoration-color: transparent;

        @extend .font-bold-md;
    }

    .an-price {
        margin-top: 0 !important;
        margin-bottom: 15px !important;
    }

    .an-view > a {
        @extend .uppercase-title;
        @extend .font-bold-xs;

        letter-spacing: 0.75px;
        transition: $transition;

        .sw-arrow {
            margin-left: 10px;
            transition: $transition;
        }
    }

}

#an-page-top {
    display: none;
}

.ebay-small {
    text-align: center;

    &__title {
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    &__button {
        text-align: center;
    }
}

#an-controls-top {
    display: flex !important;
    overflow: hidden;
    height: 36px;
    margin-bottom: 45px !important;
    justify-content: flex-end !important;

    @include below($mobile-landscape) {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    #an-cats-wrap {
        width: 204px !important;
        min-width: auto !important;
    }

    #an-cats-nav {
        width: 204px;
        margin: 0;
        padding: 8px 12px;

        color: $brand-grey-2;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%239c9c9c' d='M12 21l-12-18h24z'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat, repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 0.65em auto, 100%;
        line-height: 1;

        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        @extend .sw-input;

        &::-ms-expand {
            display: none;
        }
    }

    #an-search-wrap {
        position: relative;
        width: 204px !important;
        min-width: auto !important;
        margin-left: 25px !important;

        @include below($mobile-landscape) {
            margin-left: 0 !important;
        }

        #an-search-box {
            overflow: hidden;
            width: 100%;
            height: 36px;
            margin: 0 !important;
            padding: 6.8px 15px;
            color: $brand-grey-2;
            background: $white;

            @extend .sw-input;
        }

        #an-search-submit {
            display: flex;
            position: absolute;
            top: 50%;
            right: 0;
            margin: 0 2px;
            padding: 6.8px 10px;
            background: $white;
            transform: translateY(-50%);
            align-items: center;
        }
    }

}

.search-icon {
    fill: $brand-grey-2;
    width: 15px;
}

#an-page-bot {
    padding: 16px 0 !important;
    border-top: 1px solid $brand-light-grey;
    border-bottom: 1px solid $brand-light-grey;
}

#an-page-bot-next,
#an-page-bot-prev {
    display: inline-flex;
    color: $brand-grey-2;
    align-items: center;
    text-decoration: none !important;
    transition: $transition;

    &:hover {
        text-shadow: 0 0 0.5px $brand-grey-2, 0 0 0.5px $brand-grey-2;
    }

    svg {
        fill: $brand-grey-2;
    }
}

#an-page-bot-prev {
    svg {
        margin-right: 12px;
        transform: scaleX(-1);
    }
}

#an-page-bot-next {
    svg {
        margin-left: 12px;
    }
}

// remove auction nudge footer
.ends,
.an-ends,
#auction-nudge-items > div:last-child,
.price > small {
    display: none;
}
