/* Text meant only for screen readers. */
.screen-reader-text {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.
    clip-path: inset(50%);

    &:focus {
        display: block;
        clip: auto !important;
        z-index: 100000; // Above WP toolbar.
        top: 5px;
        left: 5px;
        width: auto;
        height: auto;
        padding: 15px 23px 14px;
        border-radius: 3px;
        color: $brand-black;
        background-color: $brand-off-white;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        font-size: 0.875rem;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
        clip-path: none;
    }
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
    outline: 0;
}
