/* =============================================================================
Responsive font styles
============================================================================= */
@each $font-category, $font-category-value in $fonts {
    @each $font-category-sizes, $font-category-sizes-value in $font-category-value {
        $font-sizes: map-get($font-category-sizes-value, "font-size");
        $line-heights: map-get($font-category-sizes-value, "line-height");
        $font-weights: map-get($font-category-sizes-value, "font-weight");

        @if map-has-key($font-sizes, mobile) {
            .font-#{$font-category}-#{$font-category-sizes} {
                font-size: map-get($font-sizes, mobile);

                @if map-has-key($line-heights, mobile) {
                    line-height: map-get($line-heights, mobile);
                }

                @if map-has-key($font-weights, mobile) {
                    font-weight: map-get($font-weights, mobile);
                }

                @if map-has-key($font-sizes, desktop) {
                    @include above($desktop) {
                        font-size: map-get($font-sizes, desktop);

                        @if map-has-key($line-heights, desktop) {
                            line-height: map-get($line-heights, desktop);
                        }

                        @if map-has-key($font-weights, desktop) {
                            font-weight: map-get($font-weights, desktop);
                        }
                    }
                }
            }
        }
    }
}
