html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: $brand-off-white;
}

.site {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    max-width: 1440px;
    min-height: 100%;
    flex: 1 0 auto;
}

.site-main {
    flex: 1 0 auto;
}

.site-footer {
    flex-shrink: 0;
}

::selection {
    color: $white;
    background: $brand-black;
}
