/* ==========================================================================
   Gutenberg ================================================================
   ========================================================================== */

/* Main column width */
.wp-block {
    max-width: 700px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1050px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: 1050px;
}

.editor-post-title__input {
    text-align: center;
}

.block-editor-rich-text__editable a {
    color: $brand-black;
    text-decoration: underline;
}
