.margin-top-none {
    margin-top: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.list-style-none {
    list-style: none;
}

.display-none {
    display: none;
}
