/* ==========================================================================
   Mixins ===================================================================
   ========================================================================== */

@mixin above($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin below($breakpoint) {
    @media only screen and (max-width: $breakpoint - 1px) {
        @content;
    }
}
