html {
    color: $brand-black;
    font-family: $primary-font;

    @extend .font-body-md;
}

h1,
.h1 {
    font-size: 44px;
    font-weight: $bold;

    @include above($desktop) {
        font-size: 52px;
    }
}

h2,
.h2 {
    font-size: 42px;
}

h3,
.h3 {
    font-size: 30px;
}

h4,
.h4 {
    font-size: 26px;
    font-weight: $bold;
}

h5,
.h5 {
    font-size: 24px;
}

h6,
.h6 {
    font-size: 18px;
    font-weight: $bold;

    @include above($desktop) {
        font-size: 20px;
    }
}

p {
    @extend .font-body-md;
}

em,
strong {
    font-weight: $bold;

}

.uppercase-title {
    letter-spacing: 1px;
    text-transform: uppercase;

    &--has-arrow {
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
    }
}
