/* ==========================================================================
   Variables ================================================================
   ========================================================================== */

/* Colors =============================================== */
$white: #fff;
$brand-off-white: #f5f5f5;
$brand-light-grey: #ddd;
$brand-grey: #929292;
$brand-grey-placeholder: #ccc;
$brand-grey-2: #9c9c9c;
$brand-orange: #f74733;
$brand-dark-orange: #b81300;
$brand-yellow: #ffa659;
$brand-green: #65ab9c;
$brand-black: #293647;
$brand-blue: #006f92;

/* Containers =========================================== */
$container: 1050px;
$container-small: 700px;

/* Breakpoints ========================================== */
$mobile-landscape: 600px;
$tablet-landscape: 900px;
$desktop: 1080px;

/* Typography =========================================== */
$primary-font: "DM Sans", sans-serif;
$primary-font-size: 16px;
$primary-font-size-mobile: 14px;

$bold: 700;
$normal: 400;

$fonts: (
    heading: (
        xs: (
            font-size: ( mobile: 18px, desktop: 20px),
            line-height: ( mobile: 1.44, desktop: 1.44),
            font-weight: ( mobile: $bold, desktop: $bold)
        ),
        sm: (
            font-size: ( mobile: 20px, desktop: 24px ),
            line-height: ( mobile: normal, desktop: normal ),
            font-weight: ( mobile: $bold,  desktop: $bold ),
        ),
        md: (
            font-size: ( mobile: 20px, desktop: 26px ),
            line-height: ( mobile: normal, desktop: normal ),
            font-weight: ( mobile: $bold,  desktop: $bold ),
        ),
        lg: (
            font-size: ( mobile: 20px, desktop: 30px ),
            line-height: ( mobile: 1.4, desktop: 1.27 ),
            font-weight: ( mobile: $normal,  desktop: $normal ),
        ),
        xl: (
            font-size: ( mobile: 28px, desktop: 40px ),
            line-height: ( mobile: (32 / 28), desktop: 1.2 ),
            font-weight: ( mobile: 700,  desktop: 700 ),
        ),
        xxl: (
            font-size: ( mobile: 32px, desktop: 48px ),
            line-height: ( mobile: 1.125, desktop: (56 / 48) ),
            font-weight: ( mobile: 700,  desktop: 700 ),
        ),
    ),
    body: (
        xs: (
            font-size: ( mobile: 12px, desktop: 12px ),
            line-height: ( mobile: 1.5, desktop: 1.33 ),
            font-weight: ( mobile: $normal, desktop: $normal ),
        ),
        sm: (
            font-size: ( mobile: 12px, desktop: 14px ),
            line-height: ( mobile: 1.71, desktop: 1.71 ),
            font-weight: ( mobile: $normal, desktop: $normal ),
        ),
        md: (
            font-size: ( mobile: 15px, desktop: 16px ),
            line-height: ( mobile: 1.6, desktop: 1.63 ),
            font-weight: ( mobile: $normal, desktop: $normal ),
        ),
        lg: (
            font-size: ( mobile: 16px, desktop: 18px ),
            line-height: ( mobile: 1.56, desktop: 1.56),
            font-weight: ( mobile: $normal, desktop: $normal ),
        ),
        xl: (
            font-size: ( mobile: 18px, desktop: 20px ),
            line-height: ( mobile: 1.6, desktop: 1.6),
            font-weight: ( mobile: $normal, desktop: $normal ),
        ),
    ),
    bold: (
        xs: (
            font-size: ( mobile: 12px, desktop: 12px ),
            line-height: ( mobile: (16 / 12), desktop: (16 / 14) ),
            font-weight: ( mobile: $bold, desktop: $bold ),
        ),
        sm: (
            font-size: ( mobile: 12px, desktop: 14px ),
            line-height: ( mobile: 1.71, desktop: 1.71 ),
            font-weight: ( mobile: $bold, desktop: $bold ),
        ),
        md: (
            font-size: ( mobile: 15px, desktop: 16px ),
            line-height: ( mobile: 1.63, desktop: 1.63 ),
            font-weight: ( mobile: $bold, desktop: $bold ),
        ),
        lg: (
            font-size: ( mobile: 16px, desktop: 18px ),
            line-height: ( mobile: 1.63, desktop: 1.63),
            font-weight: ( mobile: $bold, desktop: $bold ),
        ),
        xl: (
            font-size: ( mobile: 18px, desktop: 20px ),
            line-height: ( mobile: 1.3, desktop: 1.3),
            font-weight: ( mobile: $bold, desktop: $bold ),
        ),
    ),
);

/* Transitions ========================================== */
$transition: all 200ms;
$transition--ease: all 200ms ease;
$transition--slow: all 500ms ease;

/* Borders ============================================== */
$border: solid 1px $brand-light-grey;
