.content-wimage {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 60px;
    align-items: center;

    @include above($tablet-landscape) {
        flex-direction: row;
        margin-top: 90px;
        margin-bottom: 90px;
    }

    &__content {
        @include above($tablet-landscape) {
            margin-right: 50px;
            margin-left: 40px;
        }
    }

    &__title {
        margin: 0 0 10px 0;
    }

    &__text {
        @extend .font-body-lg;
        margin: 0 0 21px;
    }

    &__button {
        @include below($tablet-landscape) {
            margin-bottom: 40px;
        }
    }

    &__image {
        max-width: 380px;
        height: auto;
        object-fit: contain;

        @include below(500px) {
            max-width: 100%;
        }
    }
}
