.sw-content {
    max-width: 700px;
    margin: 0 auto;
}

.entry-content,
.sw-row__content,
.sw-content {
    > * {
        margin: 0 0 25px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: $brand-black;
        text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 25px 0 10px;
        font-size: 18px;
        font-weight: $bold;
        line-height: 1.33;

        @include above($desktop) {
            margin: 50px 0 20px;
            font-size: 20px;
        }
    }

}
