.site-footer {
    @include above($desktop) {
        margin-left: 280px;
    }
}

.sw-footer {
    max-width: 1100px; // 1050 + 50 (margin-right)
    padding: 24px 0;
    border-top: solid 1px $brand-light-grey;
    text-align: right;

    @include below($desktop) {
        margin: 0 15px;
        padding: 19px 10px 32px;
    }

    &__copyright {
        margin: 0;
        color: $brand-grey;

        @extend .font-body-xs;

        @include below($desktop) {
            text-align: center;
        }

        &__link {
            color: $brand-grey;
        }
    }

    &__divider {
        margin: 0 2px;
    }
}
