.site-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 123px;
    padding: 30px 20px 22px;
    background: $white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    align-items: center;

    @include above($desktop) {
        position: fixed;
        width: 250px;
        height: 100%;
        margin-left: 30px;
        padding: 60px 30px;
    }
}

.site-branding {
    width: 120px;

    @include above($desktop) {
        width: 160px;
        margin-bottom: 32px;
    }
}

ul.primary-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    text-align: center;
    list-style: none;

    li {
        display: inline;
        margin-bottom: 12px;
        padding: 0;
        border-bottom: 2px solid transparent;
        transition: $transition;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            border-bottom: 2px solid $brand-black;
        }
    }

    a {
        color: $brand-black;
        font-size: 13px;
        font-weight: $bold;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.header-button {
    margin-bottom: 30px;

    .sw-button {
        padding: 10px 17px;
        font-size: 13px;
    }
}

.header-social {
    display: flex;
    justify-content: center;

    &__icon {
        width: 15px;
        margin: 0 10px;
        color: $brand-black;

        svg.icon {
            fill: $brand-black;
            transition: $transition;
        }

        &:hover {
            svg {
                fill: $brand-grey-2;
            }
        }
    }
}

.sw-header {
    margin-top: 50px;
    margin-bottom: 35px;

    @include above(600px) {
        margin-bottom: 50px;
    }

    @include above($desktop) {
        margin-top: 90px;
        margin-bottom: 80px;

        .page-template-contact & {
            margin-bottom: 65px;
        }
    }

    &__eyebrow {
        max-width: 700px;
        margin: 0 auto 20px;
        font-size: 15px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include above($desktop) {
            font-size: 20px;
        }
    }

    &__title {
        max-width: 700px;

        @extend .h1;
        margin: 0 auto 15px;
        text-align: center;

        @include above($desktop) {
            margin: 0 auto 30px;
        }
    }

    &__subtitle {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;

        > *:last-child {
            margin-bottom: 0;
        }

        p {
            margin-bottom: 30px;
        }

        a {
            color: $brand-black;
        }
    }
}
