.int-ctas {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;

    @include below($tablet-landscape) {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    @include below($desktop) {
        margin-right: 15px;
        margin-left: 15px;
    }

    &__cta {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 14px;
        padding: 44px 15px 35px;
        color: $white;
        text-align: center;
        align-items: center;
        flex: 1;

        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            transition: $transition--slow;
        }

        &:first-child {
            margin-left: 0;

            &::before {
                opacity: 0.9;
                background-color: $brand-yellow;
            }
        }

        &:nth-child(2) {
            &::before {
                opacity: 0.8;
                background-color: $brand-green;
            }
        }

        &:last-child {
            margin-right: 0;

            &::before {
                background-color: $brand-blue;
            }
        }

        &:hover {
            &::before {
                transform: scale(1.05);

                @include below($tablet-landscape) {
                    transform: scale(1.02);
                }
            }

            .int-ctas__link {
                padding-right: 30px;
                color: $white;
                background-color: rgba(0, 0, 0, 0.1);

                .sw-arrow {
                    fill: $white;

                    &__wrapper {
                        transform: translateX(10px);
                    }
                }
            }
        }

        @include below($tablet-landscape) {
            margin: 10px 0;
            padding: 30px 15px 21px;

        }
    }

    &__title {
        margin: 0 0 6px 0;

        @include above($tablet-landscape) {
            margin: 0 0 10px 0;
        }
    }

    &__caption {
        max-width: 700px;
        margin: 0 0 16px 0;
        line-height: normal;
        flex: 1;

        @include below($tablet-landscape) {
            margin: 0 0 8px 0;
            font-size: 16px;
        }
    }

    &__link {
        margin: 0;
        margin-right: 0;
        padding: 9px 20px;
        border-radius: 9px;
        color: $brand-black;
        line-height: normal;
        transition: $transition;



        @extend .font-bold-xs;
    }

    &--single {
        margin-right: 0;
        margin-left: 0;

        > * {
            margin: 0;
        }
    }
}

.page-template-about .int-ctas__cta::before {
    opacity: 0.8;
    background-color: $brand-green;
}
