.news-cta {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;

    @include below ($desktop) {
        margin-top: 50px;
        margin-bottom: 60px;
    }

    &__title {
        margin: 0 0 30px 0;
        text-align: center;

        @include below ($desktop) {
            margin: 0 0 20px 0;

        }
    }

    .mc4wp-form-fields {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;

        @include below ($desktop) {
            flex-direction: column;
        }

        input[type="email"] {
            max-width: 310px;
            margin-bottom: 0;
            border-radius: 10px;

            @include above ($desktop) {
                margin-right: 15px;
            }
        }

        input[type="submit"] {
            padding-top: 9px;
            padding-bottom: 9px;
            font-size: 16px;
            line-height: normal;
            cursor: pointer;

            @include above ($desktop) {
                margin-top: 0;
            }
        }
    }
}
