.sw-slider {
    visibility: hidden;
    height: 402px;

    @include above($desktop) {
        height: 522px;
        margin-top: 50px;
    }

    .sw-slider &__slide {
        display: flex;
        flex-direction: column;

        height: 402px;
        padding: 0 40px;

        color: $white;
        background-size: cover;
        justify-content: center;
        align-items: center;

        @include above($desktop) {
            height: 522px;
            border-radius: 20px;
        }
    }

    &__content {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
    }

    &__eyebrow {
        margin: 0 0 20px 0;
        font-size: 14px;
        letter-spacing: 1px;

        @include above($desktop) {
            font-size: 20px;
        }
    }

    &__title {
        margin: 0 0 15px 0;
    }

    &__subtitle {
        margin: 0 0 26px 0;

        @include above($desktop) {
            margin: 0 0 35px 0;
        }
    }

    &__button {
        font-size: 14px;

        @include above($desktop) {
            font-size: 18px;
        }
    }
}
